/* Adapted from Twitter Bootstrap: twitter.github.com/bootstrap */

html, body {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Georgia, serif';
  margin-bottom: 0;
}

p {
  color: #DDD;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
}

canvas {
  position: absolute;
  z-index: -1;
}

.hero {
  position: absolute;
  top: 10%;
  left: 50%;
  width: 600px;
  margin-left: -300px;
  padding: 3%;
  background-color: #000;
  opacity: 0.75;

  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;

  -webkit-box-shadow: 0 0 9px 3px rgba( 0, 0, 0, 0.25 );
     -moz-box-shadow: 0 0 9px 3px rgba( 0, 0, 0, 0.25 );
          box-shadow: 0 0 9px 3px rgba( 0, 0, 0, 0.25 );
}

.hero .hero-top {}

.hero h1 {
  font-size: 36pt;
  font-weight: 100;
  letter-spacing: 1px;
  color: #FFF;
}

.center {
  text-align: center;
}

.decoration {
  color: #FFF;
  letter-spacing: 4px;
}


@media(max-width: 767px) {
  .hero {
    position: fixed;
    top: 60px;
    right: 60px;
    left: 60px;
    width: auto;
    margin: 0;
  }
}


@media(max-width: 480px) {
  .hero {
    top: 30px;
    right: 30px;
    left: 30px;
  }
}
