/* Adapted from Twitter Bootstrap: twitter.github.com/bootstrap */

body {
  margin: 0;
  padding: 0;

  font-family: Georgia, Cambria, serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 20px;

  overflow: auto;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 10px;
}

a {
  color: inherit;
  font-family: inherit;
  text-decoration: none;
}

p {
  color: #222;
}

canvas {
  position: absolute;
  z-index: -1;
}

.hero {
  position: absolute;
  top: 10%;
  left: 50%;
  width: 550px;
  margin-left: -275px;

  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;

  -webkit-box-shadow: 0 0 9px 3px rgba( 0, 0, 0, 0.25 );
     -moz-box-shadow: 0 0 9px 3px rgba( 0, 0, 0, 0.25 );
          box-shadow: 0 0 9px 3px rgba( 0, 0, 0, 0.25 );
}

.hero h1 {
  font-size: 36pt;
  font-weight: 100;
  letter-spacing: 1px;
  color: #FFF;
  line-height: 40pt;
}

.hero .hero-top {
  background-color: #000;
  opacity: 0.8;
  padding: 3%;

  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.hero .hero-middle {
  color: #FFF;
  background-color: #000;
  opacity: 0.9;
  padding: 2%;
}

.hero .hero-middle h2 {
  font-size: 10pt;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.hero .hero-bottom {
  background-color: #FFF;
  opacity: 0.8;
  padding: 3%;

  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.center {
  text-align: center;
}

.decoration {
  color: #FFF;
  letter-spacing: 4px;
}

@media(max-width: 767px) {
  .hero {
    top: 60px;
    right: 60px;
    left: 60px;
    width: auto;
    margin: 0;
  }
}

@media(max-width: 480px) {
  .hero {
    top: 30px;
    right: 30px;
    left: 30px;
  }
}
