/* Adapted from Twitter Bootstrap: twitter.github.com/bootstrap */

html, body {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Georgia, serif';
}

canvas {
  position: absolute;
  z-index: -1;
}

.hero {
  position: absolute;
  padding: 3%;
  background-color: #000;
  opacity: 0.8;
  border-radius: 6px;
}

.hero h1 {
  font-size: 36pt;
  font-weight: 100;
  letter-spacing: 1px;
  color: #FFF;
}

.hero {
  top: 10%;
  left: 50%;
  width: 600px;
  margin-left: -300px;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}

.center {
  text-align: center;
}

.decoration {
  color: #FFF;
  letter-spacing: 4px;
}


@media(max-width: 767px) {
  .hero {
    position: fixed;
    top: 60px;
    right: 60px;
    left: 60px;
    width: auto;
    margin: 0;
  }
}


@media(max-width: 480px) {
  .hero {
    top: 30px;
    right: 30px;
    left: 30px;
  }
}
