/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3/box-sizing";
// For radial gradients.
@import "compass/css3/images";
@import "compass/css3/transition";
@import "compass/css3/transform";

@mixin keyframes($name) {
  @-webkit-keyframes #{$name} { @content; }
  @-moz-keyframes #{$name} { @content; }
  @-ms-keyframes #{$name} { @content; }
  @keyframes #{$name} { @content; }
}

@mixin animation($animation) {
  -webkit-animation: #{$animation};
   -khtml-animation: #{$animation};
     -moz-animation: #{$animation};
      -ms-animation: #{$animation};
       -o-animation: #{$animation};
          animation: #{$animation};
}

html,
body {
  width: 100%;
  height: 100%;
}

* {
  @include box-sizing(border-box);
}

body {
  // background-color: #358;
  // @include background(linear-gradient(#469, #8ad), linear-gradient(#fff, red));

  @include background(
    linear-gradient(
      rgba(64, 112, 160, 1.0),
      rgba(144, 176, 224, 1.0)
    )
  );
  // @include background(linear-gradient(rgba(255, 0, 0, 0.75), rgba(0, 125, 0, 0.75)), linear-gradient(90deg, rgba(0, 0, 255, 0.25), rgba(100, 200, 0, 0.25)))
}

.skyline {
  @include perspective-origin(512px);
  // @include rotate3d(0, 0, 1, 0deg);
  @include transform-style(preserve-3d);
  width: 1000px;
  height: 500px;

}

.building {
  position: absolute;
}

.building-left {
  left: 2em;
  bottom: 0;

  width: 100px;
  height: 200px;
  background-color: #fff;
  @include background(
    linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    linear-gradient(
      90deg,
      rgba(255, 0, 0, 0.5),
      rgba(0, 255, 0, 0.5),
      rgba(0, 0, 255, 0.5)
    )
  );

  @include transition(all 0.5s ease-in-out);

  &:hover {
    opacity: 0;
  }

  // @include rotateY(20deg);
}
