/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

$padding: 20px;

@mixin keyframes($name) {
  @-webkit-keyframes #{$name} { @content; }
  @-moz-keyframes #{$name} { @content; }
  @-ms-keyframes #{$name} { @content; }
  @keyframes #{$name} { @content; }
}

@mixin animation($animation) {
  -webkit-animation: #{$animation};
   -khtml-animation: #{$animation};
     -moz-animation: #{$animation};
      -ms-animation: #{$animation};
       -o-animation: #{$animation};
          animation: #{$animation};
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  display: table;
  font-family: "ff-tisa-web-pro", Georgia, serif;

  background: #ddd;
}

h1 {
  display: inline-block;

  font-family: "brandon-grotesque";
  font-size: 72pt;
  color: black;
}

.container {
  display: table-cell;

  text-align: center;
  vertical-align: middle;

  .links {
    padding: $padding;
  }
}

canvas {
  position: absolute;

  top: 50%;
  left: 50%;

  z-index: -1;
}
