/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3/box-sizing";
// For radial gradients.
@import "compass/css3/images";
@import "compass/css3/transition";

$radius: 4px;
$padding: 20px;
$half-padding: 0.5 * $padding;

$dark-gray: #222;

@mixin keyframes($name) {
  @-webkit-keyframes #{$name} { @content; }
  @-moz-keyframes #{$name} { @content; }
  @-ms-keyframes #{$name} { @content; }
  @keyframes #{$name} { @content; }
}

@mixin animation($animation) {
  -webkit-animation: #{$animation};
   -khtml-animation: #{$animation};
     -moz-animation: #{$animation};
      -ms-animation: #{$animation};
       -o-animation: #{$animation};
          animation: #{$animation};
}

html,
body {
  width: 100%;
  height: 100%;
}

* {
  @include box-sizing(border-box);
}

body {
  font-family: "proxima-nova", Georgia, serif;
  font-weight: 700;
  -webkit-font-smoothing: antialiased;

  @include background(radial-gradient(#555, $dark-gray));
}

.container {
  position: absolute;
  width: 222px;
  height: 360px;

  top: 50%;
  left: 50%;

  margin-top: -180px;
  margin-left: -111px;

  text-align: center;

  border-radius: $radius;
  box-shadow: 0 0 $half-padding $dark-gray;

  color: rgba(255, 255, 255, 0.75);
  background-color: rgba(230, 66, 66, 0.5);

  @include transition(all 0.4s ease-in-out);

  &:hover {
    background-color: rgba(230, 66, 66, 0.9);
    color: white;
  }

  .text {
    padding-top: 2 * $padding;
    padding-right: $padding;
    padding-left: $padding;

    h1 {
      font-weight: 900;
      font-size: 12pt;
      letter-spacing: 3px;
      text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
    }

    .divider {
      padding-top: $half-padding;
      letter-spacing: 4px;
    }

    p {
      font-weight: 400;
      line-height: 1.25;
      margin-top: $padding;
    }
  }

  .links {
    width: 100%;

    margin-top: $padding;

    padding-top: $padding;
    padding-bottom: $padding;

    background-color: rgba(255, 255, 255, 0.5);
    color: black;

    @include transition(all 0.4s ease-in-out);

    &:hover {
      background-color: white;
    }

    a {
      color: black;
      text-decoration: none;
    }
  }

  .location {
    margin-top: $padding + $half-padding;
    font-weight: 900;
    font-size: 10pt;
    letter-spacing: 2px;
  }
}
