/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 35, ../sass/screen.scss */
html,
body {
  width: 100%;
  height: 100%;
}

/* line 40, ../sass/screen.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 44, ../sass/screen.scss */
body {
  font-family: "proxima-nova", Georgia, serif;
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
  background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 100, color-stop(0%, #555555), color-stop(100%, #222222));
  background: -webkit-radial-gradient(#555555, #222222);
  background: -moz-radial-gradient(#555555, #222222);
  background: -o-radial-gradient(#555555, #222222);
  background: radial-gradient(#555555, #222222);
}

/* line 52, ../sass/screen.scss */
.container {
  position: absolute;
  width: 222px;
  height: 360px;
  top: 50%;
  left: 50%;
  margin-top: -180px;
  margin-left: -111px;
  text-align: center;
  border-radius: 4px;
  box-shadow: 0 0 10px #222222;
  color: rgba(255, 255, 255, 0.75);
  background-color: rgba(230, 66, 66, 0.5);
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
/* line 73, ../sass/screen.scss */
.container:hover {
  background-color: rgba(230, 66, 66, 0.9);
  color: white;
}
/* line 78, ../sass/screen.scss */
.container .text {
  padding-top: 40px;
  padding-right: 20px;
  padding-left: 20px;
}
/* line 83, ../sass/screen.scss */
.container .text h1 {
  font-weight: 900;
  font-size: 12pt;
  letter-spacing: 3px;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
}
/* line 90, ../sass/screen.scss */
.container .text .divider {
  padding-top: 10px;
  letter-spacing: 4px;
}
/* line 95, ../sass/screen.scss */
.container .text p {
  font-weight: 400;
  line-height: 1.25;
  margin-top: 20px;
}
/* line 102, ../sass/screen.scss */
.container .links {
  width: 100%;
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: rgba(255, 255, 255, 0.5);
  color: black;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
/* line 115, ../sass/screen.scss */
.container .links:hover {
  background-color: white;
}
/* line 119, ../sass/screen.scss */
.container .links a {
  color: black;
  text-decoration: none;
}
/* line 125, ../sass/screen.scss */
.container .location {
  margin-top: 30px;
  font-weight: 900;
  font-size: 10pt;
  letter-spacing: 2px;
}
