/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 33, ../sass/screen.scss */
html,
body {
  width: 100%;
  height: 100%;
}

/* line 38, ../sass/screen.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

/* line 43, ../sass/screen.scss */
body {
  font-family: "proxima-nova", Georgia, serif;
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
  background-color: white;
  color: black;
  display: table;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* line 58, ../sass/screen.scss */
.container {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
/* line 64, ../sass/screen.scss */
.container .text {
  margin-bottom: 1rem;
}
/* line 67, ../sass/screen.scss */
.container .text h1 {
  font-weight: 100;
  font-size: 32px;
  letter-spacing: 0.1rem;
}
/* line 73, ../sass/screen.scss */
.container .text .divider {
  margin-bottom: 1rem;
  padding-top: 0.5rem;
  letter-spacing: 0.2rem;
}
/* line 79, ../sass/screen.scss */
.container .text p {
  font-weight: 300;
}
/* line 84, ../sass/screen.scss */
.container .links {
  margin-bottom: 1.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
/* line 89, ../sass/screen.scss */
.container .links a {
  color: black;
  text-decoration: none;
}
/* line 93, ../sass/screen.scss */
.container .links a:hover {
  color: #888;
}
/* line 99, ../sass/screen.scss */
.container .location {
  font-weight: 300;
  font-size: 16px;
  letter-spacing: 0.1rem;
}
